/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
*.suo
upload/
packages/
obj/
bin/
/Users


/attachment
/cache
/config
access_token.json
jsapi_ticket.json
/.vs/config/applicationhost.config

.DS_Store

Console.sublime-workspace
