
<footer>
    <div class="inner">
        <div class="foot-nav"><a href='0/' title='Service'>Service</a><span>|</span><a href='13/' title='Contact Us'>Contact Us</a><span>|</span><a href='link/' 0 title='Friendly Link'>Friendly Link</a><span>|</span><a href='member/' title='Member'>Member</a><span>|</span><a href='search/' title='Search'>Search</a><span>|</span><a href='sitemap/' title='Sitemap'>Sitemap</a><span>|</span><a href='http://hxu0020250.chinaw3.com/admin/' title='Admin'>Admin</a></div>
        <div class="foot-text">
            <p>{{$setting.foot_right}} <a href="http://www.miitbeian.gov.cn/" target="_blank">{{$setting.icp_no}}</a>
            <script src="{{$setting.cnzz_id}}" language="JavaScript"></script></p>

        </div>
    </div>
</footer>
<script src="/images/js/fun.inc.js" type="text/javascript"></script>

</body>
</html>